---
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from '../components/Footer.astro'
import Navigation from '../components/Navigation.astro';
import '../styles/global.css'
const pageTitle = "About me";

const identity = {
  firstName: "Noritaka",
  country: "Japan",
  occupation: "Public servant",
  hobbies: ["Doing Zumba", "Playing futsal", "Doing Jiu-Jitsu"],
};

const skills = ["HTML", "CSS", "JavaScript"];
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "upperCase";
---
<style define:vars={{skillColor, fontWeight, textCase}}>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>

    <!--<a href="/">ホーム</a>-->
    <!--<a href="/about/">概要</a>-->
    <!--<a href="/blog/">ブログ</a>-->
<BaseLayout pageTitle= {pageTitle}>


  <ul>
    <li>I'm {identity.firstName}です。</li>
    <li>I live in {identity.country} and work as a {identity.occupation}.</li>
    {identity.hobbies.length >= 2 &&
      <li>My hobbies are {identity.hobbies[0]}and{identity.hobbies[1]}.</li>
    }
  </ul>
  <p>My skills</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
  <script>
    import "../script/menu.js";
  </script>
</BaseLayout>
