---
import {getCollection} from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "blog";
const allPosts = await getCollection("posts");
---
<BaseLayout pageTitle = {pageTitle}>
  <h1>私のAstro学習ブログ as h1 as slot in blog.astro</h1>
  <p>ここには、私がAstroを学んでいく旅の様子を投稿します。</p>
    <ul>
      <!-- {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)} -->
      {allPosts.map((post) => <BlogPost url={`/posts/${post.slug}`} title={post.data.title} />)}
    </ul>
    <script>
      import "../script/menu.js";
    </script>
</BaseLayout>
