---
import {getCollection} from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Blog";
const allPosts = await getCollection("posts");
---
<BaseLayout pageTitle = {pageTitle}>
  <h3>These articles are written as my notes.</h3p>
    <ul>
      <!-- {allPosts.map((post) => <li><axx={post.url}>{post.frontmatter.title}</a></li>)} -->
      {allPosts.map((post) => <BlogPost url={`/posts/${post.slug}`} title={post.data.title} />)}
    </ul>
    <script>
      import "../script/menu.js";
    </script>
</BaseLayout>
